:root {
    --primary-color: #007bff;
    /* forest green */
    --secondary-color: #F4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
    bottom: 0;
    background-color: rgba(51, 138, 255, 77%);
    color: #000000;
}

.hero article h2 {
    color: #000000;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 100px;
}

.adventures-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 20px 0;
}

.adventures-container figure {
    flex: 1;
    margin: 0;
    text-align: center;
}

.adventures-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.history-container {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 30px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
}

.history-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 20px;
}